@tailwind base;
@tailwind components;
@tailwind utilities;



ul{
  display: grid;
  place-items: center;
}

ul{
    color: cadetblue;
}

li{
    margin-bottom:4px ;
    font-size: 1.2rem;
    padding-left:4px ;
    padding-right: 4px;
}

